 body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
.bg-3 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.bg-4 { 
    background-color: #ffffff; /* White */
}
.bg-5 { 
    background-color: #DCDCDC; /* Light Gray */
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
#preHoverPic {
  opacity: 1;
  display: block;
  width: 40%;
  margin: auto;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
#hoverPic:hover .image {
  opacity: 0.3;
}

#hoverPic:hover .middle {
  opacity: 1;
}
#hoverText {
  background-color: #1abc9c;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
}
